$black-clr:#000;
$white-clr:#FFF;
$background-clr--red:#91f223;
$border:1px solid #000;
$d-flex:flex;
$gray_clr--gray:#d11414;
$clr-green:rgb(9, 38, 224);
$background-clr:#000;
$color :#12dbdf;
$pos:absolute;
$width:6em;;
$right:28%;
$bottom:8rem;;
$text-pro:center;
$font-size:0.4em;
$padding:0.3em;
